.site-main h3 {
    text-align: center;
    margin: 0 0 50px 0;
}

.rowAd {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.inShortAd {
    display: flex;
    width: 70%;
    gap: 0 30px;
}

.inShortAd .thumbnailAd {
    position: relative;
    width: 40%;
}

.inShortAd .thumbnailAd a {
    display: flex;
    height: 100%;
}

.inShortAd .thumbnailAd a img {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
    border-radius: 15px;
}

.inShortAd .typeAd {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 12px;
    top: 5px;
    left: 5px;
}

.inShortAd .typeProperty {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 12px;
    top: 5px;
    right: 5px;
}

.inShortAd .titleAgency {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 9px;
    bottom: 2px;
    right: 5px;
}

.inShortAd .detailsAd {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.inShortAd .detailsAd>span {
    display: block;
}

.inShortAd .titleAd {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.inShortAd .titleAd a {
    text-decoration: none;
}

.inShortAd .address {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
}

.inShortAd .shortDescription {
    font-size: 14px;
    height: 35%;
}

.inShortAd .price {
    margin-bottom: 25px;
}

.inShortAd .price .includingFees {
    font-weight: bold;
}

.inShortAd .price .fees {
    font-size: 12px;
}

.inShortAd .detailsAd .iconsDate {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    margin-top: auto;
}

.inShortAd .iconsDate .icons {
    display: flex;
    align-items: flex-end;
    gap: 0 15px;
}

.inShortAd .detailsAd .iconsDate .icons span {
    display: flex;
    align-items: center;
}

.inShortAd .iconsDate .date {
    font-style: italic;
}

.inShortAd .iconsDate .icons span span {
    margin-right: 5px;
}

.inShortAd .bathIcon {
    width: 20px;
    height: 20px;
    background: url("../../../images/bathIcon.svg") no-repeat bottom;
}

.inShortAd .bedIcon {
    width: 22px;
    height: 20px;
    background: url("../../../images/bedIcon.svg") no-repeat bottom;    
}

.inShortAd .showerIcon {
    width: 20px;
    height: 20px;
    background: url("../../../images/showerIcon.svg") no-repeat bottom;    
}

.inShortAd .exteriorIcon {
    width: 20px;
    height: 20px;
    background: url("../../../images/exteriorIcon.svg") no-repeat bottom;    
}

#btnSubscribeAlert {
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%,0);   
}

#btnSubscribeAlert button {
    border-radius: 15px;
    opacity: 75%;
}

#btnSubscribeAlert button:hover {
    opacity: 100%;
}

.paginationAds {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.paginationAds .nav-links {
    display: flex;
}

.paginationAds .nav-links .page-numbers {
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d2d2d;

}

.paginationAds .nav-links .current {
    background-color: #2d2d2d;
    color: white;
}

.paginationAds .nav-links .page-numbers:not(.current):hover {
    background-color: grey;
    color: white;
}

/* REPONSIVE */

@media only screen and (max-width : 900px) {
    .inShortAd {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .inShortAd .thumbnailAd {
        width: 95%;
        margin-bottom: 20px;
    }
    
    .inShortAd .detailsAd {
        width: 95%;
    }
    
    .inShortAd .detailsAd .shortDescription, .inShortAd .detailsAd .price {
        margin-top: 10px;
    }
    
    .inShortAd .detailsAd .titleAd, .inShortAd .detailsAd .address {
        margin: auto;
    }
    
    .inShortAd .detailsAd .shortDescription {
        text-align: justify; 
        height: 100%;
    }
    
    .inShortAd .detailsAd .icons {
        align-items: center;
        gap: 0 10px;
    }
    
    .inShortAd .detailsAd .furnished span:last-child, .inShortAd .detailsAd .outdoorSpace span:last-child {
        display: none;
    }
}