.headerAd {
    text-align: center;
}

.inShort {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
}

.inShort, .inShort tr, .inShort td, .inShort th {
    border: none;
}

.inShort td {
    width: 50%;
}

.inShort td:last-child {
    text-align: right;
}

.inShort th {
    text-align: center;
    border-bottom: 1px solid grey;
}

.inShort td:first-child {
    border-right: 1px solid grey;
}