#minor-publishing {
    display: none;
}

#agencyMetaBox .inside div, #adComplementariesMetaBox .inside div{
    display: flex;
}

#agencyMetaBox .inside>div, #adComplementariesMetaBox .inside>div{
    border-bottom: rgba(0, 0, 0, 0.1) dashed 1px;
}

#agencyMetaBox .inside label, #adComplementariesMetaBox .inside label {
    font-weight: 500;
    cursor: default;
}

.text {
    margin: 10px 10px 30px 10px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 50px;
}

.text input, .text select {
    max-width: 300px;
}