/* Mise en page générale */

.single-featured-image-header { /*Hide post picture in header*/
    display: none !important;
}

.contentAd { /*Content width's ad must always be 100%*/
    width: 100% !important;
    color: #343434;
}

.contentAd .site-main {
    display: flex;
    flex-flow: row wrap;
}

.contentAd .titleAd {
    flex: 0 1 100%;
    text-align: center;
}

.contentAd .subtitleAd {
    flex: 0 1 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

/* */

.contentAd .titleAd h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contentAd .sliders {
    flex: 0 1 100%;
    margin-bottom: 3vh;
    object-fit: contain;
}

.contentAd .more {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.contentAd #moreTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.contentAd .similarAdsContainer {
    overflow: hidden;
    position: relative;
    width: 55%;
    margin: auto;
}

.contentAd .similarAdsWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.contentAd .similarAd {
    flex: 0 0 20%;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentAd .similarAdDetails {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 100%;
    width: 150px;
    justify-content: space-between;
}

.contentAd .similarAdDetails .similarAdSurfaceRooms {
    display: flex;
    justify-content: space-between;
}

.contentAd .similarAdDetails .similarAdPrice, 
.contentAd .similarAdDetails .similarAdSurfaceRooms {
    width: 100%;
}

.contentAd .similarAdDetails .similarAdPrice, .contentAd .similarAdDetails .similarAdSurfaceRooms span {
    font-weight: bold;
}

.contentAd .prevMorePosts,
.contentAd .nextMorePosts {
    position: absolute;
    top: 25%;
    cursor: pointer;
    font-size: 3em;
    width: auto;
    height: auto;
}

.contentAd .nextMorePosts {
    right: -15px;
}
.contentAd .prevMorePosts {
    left: -15px;
}


.contentAd .similarAdTitle {
    text-align: center;
}

.contentAd .contentRightAd, 
.contentAd .contentLeftAd {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.contentAd .contentRightAd .headerContact div {
    flex-grow: 1;
}

.contentAd .contentLeftAd {
    flex: 1 0 75%;
    padding-left: 6vw;
    padding-right: 6vw;
    justify-content: space-between;
    gap: 50px;
}

.contentAd .contentRightAd {
    flex: 1 0 25%;
    padding-right: 6vw;
    justify-content: space-between;
}

.contentAd .description {
    text-align: justify;
}

.contentAd .description .contentDescription {
    display: block;
}

.contentAd .description .contentDescription, 
.contentAd .mainFeatures .listFeatures, 
.contentAd .complementaryFeatures .listFeatures {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contentAd h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

.contentAd .listFeatures {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .contentAd .listFeatures div {
    flex-grow: 0;
    flex-basis: calc(33.33%);
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .contentAd .listFeatures div {
    flex-grow: 0;
    flex-basis: calc(50%);
    margin-bottom: 20px;
  }
}

.contentAd .listFeatures div .nameFeature, 
.contentAd .listFeatures div .valueFeature {
    display: flex;
    align-items: center;
}

.contentAd .nameFeature {
    font-weight: bold;
}

.contentAd #linkGMaps {
    text-decoration: none;
    color: #d20000;
}

.contentAd abbr[data-title] {
    position: relative;
    color: blue;
}

.contentAd abbr[data-title]:hover::after,
.contentAd abbr[data-title]:focus::after {
    content: attr(data-title);

    /* position tooltip like the native one */
    position: absolute;
    left: 0;
    bottom: -30px;
    width: auto;
    white-space: nowrap;

    /* style tooltip */
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    font-size: 14px;
    padding: 3px 5px;
}

.contentAd #DPEValue, .contentAd #GESValue {
    white-space: nowrap;
}

.contentAd #DPEValue div, .contentAd #GESValue div {
    font-size: 0px;
    user-select: none;
    margin-bottom: auto;
}

.contentAd #DPEValue div span, .contentAd #GESValue div span {
    padding: 5px 7px 7px 5px; 
    font-size: 10px;
}

.contentAd #DPEValue div span.dpe, .contentAd #GESValue div span.ges {
    font-weight: bold; 
    border: solid white;
    font-size: 15px;
}

.contentAd .map {
    margin-bottom: 5vh;
}

.contentAd #addressApprox {
    font-style: italic;
    font-size: 10px;
}

.contentAd .contact {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 10px;
}

.contentAd .headerContact {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.contentAd .formContact label {
    display: block;
}

.contentAd .formContactInput {
    margin-bottom: 20px;
    width: 100%;
}

.contentAd #formContactSubmit {
    display: block;
    width: 100%;
    margin: auto;
}

.contentAd #formContactSubmit:hover {
    filter: brightness(85%);
}

.contentAd .headerContactLeft {

}

.contentAd .headerContactRight #nameContact {
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
}

.contentAd #phoneContact {
    margin: 0;
    border: 0;
}

.contentAd #phoneContact tr, .contentAd #phoneContact td {
    line-height: 0.3em;
    padding-left: 0;
    padding-right: 0;
   border: 0;
}

.contentAd #phoneContact #phoneIcon {
    padding: 0;
}

.contentAd #phoneContact a, .contentAd .mobilePhoneContact a {
    margin-left: 0.3vw;
    white-space: nowrap;
    text-decoration: none;
    color: #252525;
}

.contentAd #phoneContact td:nth-child(n+1) {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contentAd #thumbnailContact {
    width: 70%;
    border-radius: 50%;
    max-width: 150px;
}

.contentAd .feesSchedule {
    text-decoration: none;
    font-size: 11px;
}


/* carte */
.contentAd #map { 
    width: 100%;
    padding-bottom: 100%;
}

/* slider photos */

.contentAd #miniSlider {
    max-width: 800px;
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    cursor: zoom-in;
}    

.contentAd #miniSlider ul {
    position: relative;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contentAd #miniSlider ul li {
   position: relative;
   width: 100%;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   height: 400px;
   background: #ccc;
   text-align: center;
   /*line-height: 300px;*/
}

.contentAd #miniSlider ul li img {
    object-fit: cover;
    user-select: none;
    width: 100%; 
    height: 100%;
}

.contentAd .controlPrev, .contentAd .controlNext {
   position: absolute;
   top: 40%;
   z-index: 999;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
   background: rgba(42, 42, 42, 0.3);
   color: rgba(255, 255, 255, 0.4);
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   cursor: pointer;
   user-select: none;       
   border-radius: 50%;
}

.contentAd .controlPrev:hover, .contentAd .controlNext:hover {
    background: rgba(42, 42, 42, 1);
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.2s ease;
}

.contentAd .controlPrev {
    left: 10px;
}

.contentAd .controlNext {
   right: 10px;
}

.contentAd #fullscreenSlider {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.contentAd #fullscreenSlider .displayFullscreen {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
}

.contentAd #fullscreenSlider .controlClose {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    user-select: none;
}

.contentAd #fullscreenSlider .controlNext, .contentAd #fullscreenSlider .controlPrev {
    font-size: 2em;
    flex-wrap: wrap;
    align-items: flex-start;
}


.contentAd .pagingImg {
    z-index: 999;
    font-weight: 200;
    color: white;
    position: absolute;
    right: 2%;
    user-select: none;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.contentAd #miniSlider .pagingImg {
    bottom: 0%
}

.contentAd #fullscreenSlider .pagingImg {
    bottom: 10%;
}

@media only screen and (max-width : 1400px) {
    .contentAd  h4 {
        text-align: center;
    }
    
    .contentAd .contentLeftAd, .contentAd .contentRightAd {
        padding: 0;
    }
    
    .contentAd .contentLeftAd, .contentAd .contentRightAd, .contentAd .contentLeftAd, .contentAd .contentLeftAd { 
        flex: 100%;
    }
    
    .contentAd .contentLeftAd, .contentAd .contentLeftAd .description {
        width: 90%;
        margin: auto;
    }
    
    .contentAd .contentLeftAd .mainFeatures ul, .contentAd .contentLeftAd .complementaryFeatures ul {
        /*columns: 1;*/
    }
    
    .contentAd .contentLeftAd .mainFeatures ul li, .contentAd .contentLeftAd .complementaryFeatures ul li {
        margin: 0 0 15px 0;
    }
    
    .contentAd #addressApprox {
        font-size: 12px;
    }
    
    .contentAd .headerContactRight {
        font-size: 25px;
    }
    
    .contentAd .similarAdsContainer {
        width: 85%;
    }
    
    .contentAd #map { 
        width: 95%;
        padding-bottom: 95%;
        margin: auto;
    }

}

@media only screen and (min-width : 700px) {
    .contentAd .contentDescription {
        padding: 25px;
    }
}

@media only screen and (max-width : 700px) {
    .contentAd .contentLeftAd .mainFeatures ul, .contentAd .contentLeftAd .complementaryFeatures ul {
        columns: 1;
    }
    
    .contentAd .description .contentDescription, 
    .contentAd .mainFeatures .listFeatures, 
    .contentAd .complementaryFeatures .listFeatures {
        padding: 10px;
    }
}
