/* Mise en page générale */

.single-featured-image-header { /*Hide post picture in header*/
    display: none !important;
}

.contentAd { /*Content width's ad must always be 100%*/
    width: 100% !important;
}

.contentAd .site-main {
    display: flex;
    flex-flow: row wrap;
}

.contentAd .titleAd {
    flex: 0 1 100%;
    text-align: center;
}

.contentAd .subtitleAd {
    flex: 0 1 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.contentAd .titleAd h1 {
    font-size: 32px;
}

.contentAd .sliders {
    flex: 0 1 100%;
    margin-bottom: 3vh;
    object-fit: contain;
}

.contentAd .more {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.contentAd #moreTitle {
    display: flex;
    justify-content: center;
}

.contentAd .morePostsPanel {
    display: flex;    
    gap: 15px;

}

.contentAd .morePosts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contentAd .moreAd {
    display: flex;
    flex-direction: column;
    width: 150px;
    user-select: none;
}

.contentAd .prevMorePosts, .contentAd .nextMorePosts {
    font-size: 20px;
    align-self: center;
    cursor: pointer;
    user-select: none;
}

.contentAd .moreThumbnailAd {
}

.contentAd .moreTitleAd {
    font-size: 10px;
}

.contentAd .contentRightAd, .contentAd .contentLeftAd {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.contentAd .contentRightAd div, .contentAd .contentLeftAd div {
    flex-grow: 1;
}

.contentAd .contentLeftAd {
    flex: 1 0 75%;
    padding-left: 6vw;
    padding-right: 6vw;
    border-right: 1px solid black;
}

.contentAd .contentRightAd {
    flex: 1 0 25%;
    padding-right: 6vw;
    padding-left: 1vw;
}

.contentAd .description h4 {
    margin-top: 0;
}

.contentAd .mainFeatures {
    
}

.contentAd .mainFeatures ul, .contentAd .complementaryFeatures ul {
    list-style: none;
    columns: 2;
}

.contentAd .nameFeature {
    font-weight: bold;
}

.contentAd .valueFeature {
}

.contentAd .complementaryFeatures {
}

.contentAd #DPEValueSmall, .contentAd #GESValueSmall {
    margin-top: 5px;
    margin-bottom: 10px;
}

.contentAd .map {
    margin-bottom: 5vh;
}

.contentAd #addressApprox {
    font-style: italic;
    font-size: 10px;
}

.contentAd .contact {
}

.contentAd .headerContact {
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

.contentAd .formContact label {
    display: block;
}

.contentAd .formContactInput {
    margin-bottom: 3vh !important;
}

.contentAd #formContactSubmit {
    display: block;
    width: auto;
    margin: auto;
}

.contentAd .headerContactLeft {
    display: flex;
    justify-content: center;
}

.contentAd .headerContactRight {

}

.contentAd #phoneContact {
    display: flex;
    align-items: center;
}

.contentAd #phoneContact a {
    margin-left: 0.3vw;
    font-size: 15px;
}

.contentAd #thumbnailContact {
    width: 70%;
    border-radius: 50%;
}


/* carte */
.contentAd #map { 
    width: 100%;
    height: 0; /*Pour utiliser la même valeur que width*/
    padding-bottom: 100%;
}

/* slider photos */

.contentAd #miniSlider {
   position: relative;
   overflow: hidden;
   margin: 20px auto 0 auto;
   border-radius: 4px;
}    

.contentAd #miniSlider ul {
   position: relative;
   margin: 0;
   padding: 0;
   height: 200px;
   list-style: none;
}

.contentAd #miniSlider ul li {
   position: relative;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   width: 600px;
   height: 300px;
   background: #ccc;
   text-align: center;
   line-height: 300px;
}

.contentAd #miniSlider ul li img {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}

.contentAd .controlPrev, .contentAd .controlNext {
   position: absolute;
   top: 40%;
   z-index: 999;
   display: block;
   padding: 4% 3%;
   width: auto;
   height: auto;
   background: #2a2a2a;
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   opacity: 0.8;
   cursor: pointer;
   user-select: none;
}

.contentAd .controlPrev:hover, .contentAd .controlNext:hover {
   opacity: 1;
   -webkit-transition: all 0.2s ease;
}

.contentAd .controlPrev {
   border-radius: 0 2px 2px 0;
}

.contentAd .controlNext {
   right: 0;
   border-radius: 2px 0 0 2px;
}

.contentAd #fullscreenSlider {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.contentAd #fullscreenSlider .displayFullscreen {
    width: 100vw;
    height: 100vh;
    /*background-size: 80%;*/
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.contentAd #fullscreenSlider .controlClose {
    font-size: 4rem;
    color: white;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    user-select: none;
}

.contentAd #fullscreenSlider .controlNext, .contentAd #fullscreenSlider .controlPrev {
    background-color: rgba(128,128,128,0.5);
    font-size: 4rem;
}

.contentAd .pagingImg {
    z-index: 999;
    font-weight: 200;
    color: white;
    position: absolute;
    right: 2%;
    user-select: none;
}

.contentAd #miniSlider .pagingImg {
    bottom: 0%
}

.contentAd #fullscreenSlider .pagingImg {
    bottom: 10%;
}

@media only screen and (max-width : 900px) {
    .contentAd  h4 {
        text-align: center;
    }
    
    .contentAd .contentLeftAd, .contentAd .contentRightAd {
        padding: 0;
    }
    
    .contentAd .contentLeftAd, .contentAd .contentRightAd, .contentAd .contentLeftAd, .contentAd .contentLeftAd { 
        /*flex: 0;*/
    }
    
    .contentAd .contentLeftAd, .contentAd .contentLeftAd .description {
        width: 90%;
        margin: auto;
        text-align: justify;
    }
    
    .contentAd .contentLeftAd .mainFeatures ul, .contentAd .contentLeftAd .complementaryFeatures ul {
        columns: 1;
    }
    
    .contentAd .contentLeftAd .mainFeatures ul li, .contentAd .contentLeftAd .complementaryFeatures ul li {
        margin: 0 0 15px 0;
    }
    
    .contentAd #addressApprox {
        font-size: 12px;
    }

}
