/* Mise en page générale */

.site-main {
    display: flex;
    flex-flow: row wrap;
}

.titleAgency {
    flex: 0 1 100%;
    text-align: center;
}

.titleAgency h1 {
    font-size: 32px;
}

.detailsAgency {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10vh 5vh;
}

.detailsAgency ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    list-style-type: none;
}

.detailsAgency img {
    object-fit: contain;
}