/* Mise en page générale */

.single-featured-image-header { /*Hide post picture in header*/
    display: none !important;
}

#primary { /*Content width's ad must always be 100%*/
    width: 100% !important;
}

.bth .site-main {
    display: flex;
    flex-flow: row wrap;
}

.bth .titleAd {
    flex: 0 1 100%;
    text-align: center;
}

.bth .subtitleAd {
    flex: 0 1 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.bth .titleAd h1 {
    font-size: 32px;
}

.bth .sliders {
    flex: 0 1 100%;
    margin-bottom: 3vh;
    object-fit: contain;
}

.bth .more {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.bth #moreTitle {
    display: flex;
    justify-content: center;
}

.bth .morePostsPanel {
    display: flex;    
    gap: 15px;

}

.bth .morePosts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bth .moreAd {
    display: flex;
    flex-direction: column;
    width: 150px;
    user-select: none;
}

.bth .prevMorePosts, .bth .nextMorePosts {
    font-size: 20px;
    align-self: center;
    cursor: pointer;
    user-select: none;
}

.bth .moreThumbnailAd {
}

.bth .moreTitleAd {
    font-size: 10px;
}

.bth .contentRightAd, .bth .contentLeftAd {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.bth .contentRightAd div, .bth .contentLeftAd div {
    flex-grow: 1;
}

.bth .contentLeftAd {
    flex: 1 0 75%;
    padding-left: 6vw;
    padding-right: 6vw;
    border-right: 1px solid black;
}

.bth .contentRightAd {
    flex: 1 0 25%;
    padding-right: 6vw;
    padding-left: 1vw;
}

.bth .description h4 {
    margin-top: 0;
}

.bth .mainFeatures {
    
}

.bth .mainFeatures ul, .bth .complementaryFeatures ul {
    list-style: none;
    columns: 2;
}
@media only screen and (max-width : 768px) {
    .bth .mainFeatures ul, .bth .complementaryFeatures ul {
        columns: 1;
    }
    
    .bth .mainFeatures ul li, .bth .complementaryFeatures ul li {
        margin-bottom: 15px;
    }
    
    .bth #map { 
        margin-left: 10px; /*Pas trouvé mieux*/
    }
    
    .bth .contact {
        margin-left: 10px;
    }
}

.bth .nameFeature {
    font-weight: bold;
}

.bth .valueFeature {
}

.bth .complementaryFeatures {
}

.bth #DPEValueSmall, .bth #GESValueSmall {
    margin-top: 5px;
    margin-bottom: 10px;
}

.bth .map {
    margin-bottom: 5vh;
}

.bth #addressApprox {
    font-style: italic;
    font-size: 10px;
}

.bth .contact {
}

.bth .headerContact {
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

.bth .formContact label {
    display: block;
}

.bth .formContactInput {
    margin-bottom: 3vh !important;
}

.bth #formContactSubmit {
    display: block;
    width: auto;
    margin: auto;
}

.bth .headerContactLeft {
    display: flex;
    justify-content: center;
}

.bth .headerContactRight {

}

.bth #phoneContact {
    display: flex;
    align-items: center;
}

.bth #phoneContact a {
    margin-left: 0.3vw;
    font-size: 15px;
}

.bth #thumbnailContact {
    width: 70%;
    border-radius: 50%;
}


/* carte */
.bth #map { 
    width: 100%;
    height: 0; /*Pour utiliser la même valeur que width*/
    padding-bottom: 100%;
}

/* slider photos */

.bth #miniSlider {
   position: relative;
   overflow: hidden;
   margin: 20px auto 0 auto;
   border-radius: 4px;
}    

.bth #miniSlider ul {
   position: relative;
   margin: 0;
   padding: 0;
   height: 200px;
   list-style: none;
}

.bth #miniSlider ul li {
   position: relative;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   width: 600px;
   height: 300px;
   background: #ccc;
   text-align: center;
   line-height: 300px;
}

.bth #miniSlider ul li img {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}

.bth .controlPrev, .bth .controlNext {
   position: absolute;
   top: 40%;
   z-index: 999;
   display: block;
   padding: 4% 3%;
   width: auto;
   height: auto;
   background: #2a2a2a;
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   opacity: 0.8;
   cursor: pointer;
   user-select: none;
}

.bth .controlPrev:hover, .bth .controlNext:hover {
   opacity: 1;
   -webkit-transition: all 0.2s ease;
}

.bth .controlPrev {
   border-radius: 0 2px 2px 0;
}

.bth .controlNext {
   right: 0;
   border-radius: 2px 0 0 2px;
}

.bth #fullscreenSlider {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.bth #fullscreenSlider .displayFullscreen {
    width: 100vw;
    height: 100vh;
    /*background-size: 80%;*/
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.bth #fullscreenSlider .controlClose {
    font-size: 4rem;
    color: white;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    user-select: none;
}

.bth #fullscreenSlider .controlNext, .bth #fullscreenSlider .controlPrev {
    background-color: rgba(128,128,128,0.5);
    font-size: 4rem;
}

.bth .pagingImg {
    z-index: 999;
    font-weight: 200;
    color: white;
    position: absolute;
    right: 2%;
    user-select: none;
}

.bth #miniSlider .pagingImg {
    bottom: 0%
}

.bth #fullscreenSlider .pagingImg {
    bottom: 10%;
}

