/*REOptions sup*/
sup {
    color: #0000ff;
    cursor: help;
}

/* Custom fields */
#customFields {
    width: 40%;
    border: 1px solid #000;
}

#customFields th, #customFields td {
    text-align: center;
}

#customFields #fieldName,
#customFields #section {
    width: 40%;
}

#customFields #arrows {
    width: 20%;
}

#customFields #trash {
    width: 10%;
}

#customFields tbody tr:not(.demo) .fieldUp,
#customFields tbody tr:not(.demo) .fieldDown,
#customFields tbody tr:not(.demo) .fieldTrash {
    cursor: pointer;
}

#customFields tbody tr.demo .fieldUp,
#customFields tbody tr.demo .fieldDown,
#customFields tbody tr.demo .fieldTrash {
    cursor: not-allowed;
    color: #808080;
}

#customFields tbody tr:not(.demo) .fieldTrash:hover {
    color: #ff0000;
}

#customFields tbody tr:not(.demo) .fieldUp:hover,
#customFields tbody tr:not(.demo) .fieldDown:hover {
    color: #1e90ff;
}

#customFields tbody tr:not(.demo) .section select:hover {
    color: #2c3338;
}

.fieldPlus:hover {
    color: #008000;
}

#customFields td {
    background-color: #fff;
}