/* Mise en page générale */

.site-main {
    display: flex;
    flex-flow: row wrap;
}

.titleAd {
    flex: 0 1 100%;
    text-align: center;
}

.subtitleAd {
    flex: 0 1 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.titleAd h1 {
    font-size: 32px;
}

.sliders {
    flex: 0 1 100%;
    margin-bottom: 3vh;
}

.more {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#moreTitle {
    display: flex;
    justify-content: center;
}

.morePostsPanel {
    display: flex;    
    gap: 15px;

}

.morePosts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.moreAd {
    display: flex;
    flex-direction: column;
    width: 150px;
    user-select: none;
}

.prevMorePosts, .nextMorePosts {
    font-size: 20px;
    align-self: center;
    cursor: pointer;
    user-select: none;
}

.moreThumbnailAd {
}

.moreTitleAd {
    font-size: 10px;
}

.contentRightAd, .contentLeftAd {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.contentRightAd div, .contentLeftAd div {
    flex-grow: 1;
}

.contentLeftAd {
    flex: 1 0 75%;
    padding-left: 6vw;
    padding-right: 6vw;
    border-right: 1px solid black;
}

.contentRightAd {
    flex: 1 0 25%;
    padding-right: 6vw;
    padding-left: 1vw;
}

.description {
}

.mainFeatures {
    
}

.mainFeatures ul, .complementaryFeatures ul {
    list-style: none;
    columns: 2;
}

.nameFeature {
    font-weight: bold;
}

.valueFeature {
    
}

.complementaryFeatures {
}

.map {
    margin-bottom: 5vh;
}

.contact {
}

.headerContact {
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

.formContactInput {
    margin-bottom: 3vh !important;
}

.formContact {
    
}

#formContactSubmit {
    width: 100%;
}

.headerContactLeft {
    display: flex;
    justify-content: center;
}

.headerContactRight {

}

#phoneContact {
    display: flex;
    align-items: center;
}

#phoneContact a {
    margin-left: 0.3vw;
    font-size: 15px;
}

#thumbnailContact {
    width: 70%;
    border-radius: 50%;
}


/* carte */
#map { 
    width: 100%;
    height: 0; /*Pour utiliser la même valeur que width*/
    padding-bottom: 100%;
}

/* slider photos */

#miniSlider {
   position: relative;
   overflow: hidden;
   margin: 20px auto 0 auto;
   border-radius: 4px;
}    

#miniSlider ul {
   position: relative;
   margin: 0;
   padding: 0;
   height: 200px;
   list-style: none;
}

#miniSlider ul li {
   position: relative;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   width: 600px;
   height: 300px;
   background: #ccc;
   text-align: center;
   line-height: 300px;
}

#miniSlider ul li img {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}

.controlPrev, .controlNext {
   position: absolute;
   top: 40%;
   z-index: 999;
   display: block;
   padding: 4% 3%;
   width: auto;
   height: auto;
   background: #2a2a2a;
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   opacity: 0.8;
   cursor: pointer;
   user-select: none;
}

.controlPrev:hover, .controlNext:hover {
   opacity: 1;
   -webkit-transition: all 0.2s ease;
}

.controlPrev {
   border-radius: 0 2px 2px 0;
}

.controlNext {
   right: 0;
   border-radius: 2px 0 0 2px;
}

#fullscreenSlider {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#fullscreenSlider .displayFullscreen {
    width: 100vw;
    height: 100vh;
    background-size: 80%;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

#fullscreenSlider .controlClose {
    font-size: 4rem;
    color: white;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    user-select: none;
}

#fullscreenSlider .controlNext, #fullscreenSlider .controlPrev {
    background-color: rgba(128,128,128,0.5);
    font-size: 4rem;
}

.pagingImg {
    z-index: 999;
    font-weight: 200;
    color: white;
    position: absolute;
    right: 2%;
    user-select: none;
}

#miniSlider .pagingImg {
    bottom: 0%
}

#fullscreenSlider .pagingImg {
    bottom: 10%;
}

