.searchBar .compSearchBarInputs {
    margin-top: 20px;
}

.searchBar .formOneLine #minSurface, .searchBar .formOneLine #maxSurface {
    width: 30%;
}

.searchBar .formOneLine #minPrice, .searchBar .formOneLine #maxPrice {
    width: 45%;
}

.searchBar .formOneLine>div {
    display: flex;
    justify-content: space-evenly;
}

.searchBar .formOneLine>div label {
    display: block;
}

.searchBar .formOneLine>div .searchBarInput {
    float: left;
}

.searchBar .formOneLine>div .searchBarInput input {
    font-size: 14px;
    padding: 0.5rem 0.2rem;
}

.searchBar .formOneLine #radius {
    width: 4em;
}

.searchBar .formOneLine #filters {
    font-size: 14px;
    border-radius: 12px;
    padding: 0.5em;
    align-self: flex-end;
}

.searchBar form input[type=submit] {
    display: flex;
    margin: auto;
    margin-top: 25px;
}