.searchBar {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 5px 0 10px 0;
    margin-bottom: 35px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.searchBar .compSearchBarInputs {
    margin-top: 20px;
}

.searchBar .searchForm>div {
    display: flex;
    justify-content: space-evenly;
}

.searchBar .searchForm>div .searchBarInput label {
    display: block;
    font-weight: 600;
}

.searchBar .searchForm>div .searchBarInput input:not(input[type="checkbox"]), .searchBar .searchForm>div .searchBarInput select {
    font-size: 16px;
    padding: 5px 10% 5px 10px;
    border-radius: 20px;
    width: 100%;
}

.searchBar .searchForm #radius {
    width: 4em;
}

.searchBar .searchForm #filters {
    font-size: 14px;
    border-radius: 10px;
    padding: 0.5em;
    align-self: flex-end;
}

.searchBar form input[type=submit] {
    display: flex;
    font-size: 14px;
    margin: auto;
    margin-top: 25px;
}



.searchBar .searchForm .compSearchBarInputs .pricesSurfacesInputs {
    display: flex;
    flex-direction: column;
}

.searchBar .searchForm .compSearchBarInputs .otherDetails {
    display: flex;
}

.searchBar .searchForm .compSearchBarInputs .otherDetails .propertyHas {
    display: flex;
    margin-left: 8vw;
    gap: 3vw;
}

.searchBar .searchForm .compSearchBarInputs .otherDetails .propertyHas div.colPropertyHas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchBar .searchForm .compSearchBarInputs .otherDetails .propertyHas div.colPropertyHas span.propertyCharact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
}

.searchBar .searchForm .compSearchBarInputs .otherDetails .propertyHas div.colPropertyHas label {
    margin-left: 0;
}

.searchBar .searchForm #searchBy {
    display: flex;
    gap: 30px;
}

/* REPONSIVE */

@media only screen and (max-width : 1100px) {
    .searchBar {
        width: 100%;
        border-radius: 0;
    }
    
    .searchBar .searchForm {
        width: 90%;
        margin: auto;
    }
    
    .searchBar .searchForm div {
        display: flex;
        flex-direction: column;
    }
    
    .searchBar .searchForm .mainSearchBarInputs button {
        align-self: center !important;
        margin-bottom: 15px;
    }
    
    .searchBar .searchForm>div .searchBarInput label {
        display: block;
        font-weight: 500;
    }
    
    .searchBar .searchForm .mainSearchBarInputs .searchBarInput, .searchBar .searchForm .compSearchBarInputs div .searchBarInput {
        display: flex;
        margin-bottom: 20px;
    }
    
    .searchBar .searchForm .compSearchBarInputs .otherDetails {
        display: flex;
        flex-direction: row;
    }
    
    .searchBar .searchForm .compSearchBarInputs .otherDetails .nbRooms {
        width: 30%;
    }
    
    .searchBar .searchForm .compSearchBarInputs .otherDetails .propertyHas {
        width: 70%;
        flex-direction: row;
    }
    
    .searchBar .propertyHas label, .searchBar .nbRooms label {
        white-space: nowrap;
    }
    
    .searchBar .searchForm #searchBy {
        flex-direction: row;   
        justify-content: space-evenly;
    }

}