.searchBar {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-bottom: 50px;
    color: #232323;
}

.searchBar form {
    width: 100%;
}

.searchBar .mainSearchBarInputs {
    margin-bottom: 20px;
}

.searchBar .mainSearchBarInputs, .searchBar .filtersSearchBarInputs {
    display: flex;
    justify-content: center;
    align-items: self-end;
    gap: 15px;
}

.searchBar .searchBarInput {
    display: flex;
    flex-direction: column;
}

.searchBar .searchBarInput label, .searchBar .mainSearchBarInputs #filters span:first-child {
    font-weight: 600;
}

.searchBar .searchBarInput.typeAd, .searchBar .searchBarInput.typeProperty {
    width: 20%;
}

.searchBar .searchBarInput.address {
    width: 30%;
}

.searchBar .searchBarInput.searchBy {
    width: 15%;
}

.searchBar .mainSearchBarInputs #filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.searchBar .mainSearchBarInputs #radiusInput {
    width: 80px;
}

.searchBar .mainSearchBarInputs #filters .dashicons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 40px;
    height: 40px;
}

.searchBar input[type=submit] {
    border-radius: 5px;
    width: 15%;
}

.searchBar .filtersSearchBarInputs {
    width: 70%;
    gap: 60px;
    margin: auto;
}

.searchBar .propertyHas {
    flex-direction: row;
}

.searchBar .rooms, .searchBar .colPropertyHas {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.searchBar .pricesSurfacesInputs,
.searchBar .rooms,
.searchBar .propertyHas {
    align-self: stretch;
}

.searchBar .pricesSurfacesInputs,
.searchBar .rooms {
    width: 20%;
}

.searchBar .propertyHas {
    width: 60%;
    gap: 30px;
}

.searchBar .propertyHas .colPropertyHas {
    width: 50%;
    justify-content: space-around;
}

.searchBar .propertyHas .propertyCharact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width : 1201px) {
    .searchBar .mainSearchBarInputs input[type=submit] {
        display: block !important;
    }
    
    .searchBar .filtersSearchBarInputs input[type=submit] {
        display: none !important;
    }
}

@media only screen and (max-width : 1200px) {
    .searchBar {
        width: 100%;
    }
    
    .searchBar .mainSearchBarInputs {
        flex-direction: column;
        align-items: center;
    }
    
    .searchBar .mainSearchBarInputs .searchBarInput {
        width: 100%;
    }
    
    .searchBar .mainSearchBarInputs #filters {
        flex-direction: row;
        gap: 0;
    }
    
    .searchBar input[type=submit] {
        width: 100%;
    }
    
    .searchBar .filtersSearchBarInputs .searchBarInput {
    }
    
    .searchBar .filtersSearchBarInputs {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    
    .searchBar .filtersSearchBarInputs, 
    .searchBar .filtersSearchBarInputs .pricesSurfacesInputs, 
    .searchBar .filtersSearchBarInputs .searchBarInput {
        width: 100%;
    }
    
    .searchBar .filtersSearchBarInputs .pricesSurfacesInputs div:first-child {
        margin-bottom: 15px;
    }
    
    .searchBarInput input[type=checkbox] {
        width: 2em;
    }
    
    .searchBar .propertyHas .colPropertyHas {
        gap: 15px;
    }
}